@use "global" as *;
    
.aboutus {
    padding-bottom: rem(74);
    @include mq("md") {
        position: relative;
        padding-bottom: rem(109);
    }
}
.aboutus::before {
    @include mq("md") {
    content: '';
    position: absolute;
    bottom: rem(73);
    right: calc(50% - 44.23%);
    width: rem(194);
    height: rem(180);
    background-image: url(../images/common/about_coral.svg);
    background-size: cover;
    background-position: center;
    z-index: 500;
    // opacity: 0.5;   
    }
}

.aboutus__title {
    margin-bottom: rem(28);
    @include mq("md") {
        margin-bottom: rem(40);
    }
}


.aboutus__content {
    position: relative;
}

.aboutus__img {
    position: relative;
    width: 100%;
    aspect-ratio: 345 / 212;
    margin-bottom: rem(41);
    @include mq("md") {
        margin-bottom: rem(52);
    }
}

.aboutus__img--left {
    position: absolute;
    width: 37.1%; /* 128px を 375px に基づいて計算 */
    max-width: 100%;
    top:0;
    left: 0;

}
.aboutus__img--right {
    position: absolute;
    width: 81.5%; /* 281px を 335px に基づいて計算 */
    max-width: 100%;
    bottom:0;
    right: 0;
    z-index: -1;
    @include mq("md") {
        bottom:rem(3);
    }
}

.aboutus__textcontainer {
    @include mq("md") {
        display: flex;
        position: absolute;
        width: 77.78%;
        gap: 40px;
        top:30.2%;
        right: rem(41);
    }

}

.aboutus__textcontainer-title {
    font-size: rem(40);
    font-family: $en-font-family;
    line-height: 1;
    color: $greenaccent;
    margin-bottom: rem(16);
    @include mq("md") {
        font-size: rem(80);
        line-height: 1.25;
        color: white;
        width: 50%;
        white-space: nowrap;
    }
    
}

.aboutus__textbox-wrap {
    @include mq("md") { 
        width: 50%;
    }
}

.aboutus__textbox-text {
    font-size: rem(16);
    line-height: 1.5;
    margin-bottom: rem(25);
    @include mq("md") {
        color: white;
        margin-bottom: rem(40);
    }
}
.aboutus__btn {
    display: flex;
    justify-content: center;
    padding-right: 12px;
    @include mq("md") {
        padding-right: 0;
    }
}


