@use "global" as *;
    
.blog-card {
  background-color: $white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.35);
  margin-bottom: rem(42);
  @include mq("md") {
    margin-bottom: rem(80);
  } 
}

.blog-card__content {
  padding: rem(16) rem(16) rem(24);
}

.blog-card__img {
  margin-bottom: rem(17);
  width: 100%;              // 親要素に合わせて幅を100%に拡張
  height: auto;             // 必要に応じて高さを調整
  aspect-ratio: 301 / 201;     // アスペクト比を指定（例：16:9）
  object-fit: cover;        // 親要素に合わせてフィットし、アスペクト比を保持
}

.blog-card__textbox time {
  font-size: rem(12);
  font-family: $en-font-family;
  color: $green;
  line-height: 1.5;

}

.blog-card__textbox-title {
  font-size: rem(16);
  color: $green;
  line-height: 1.5;
  border-bottom: 1px solid $green;
  margin-bottom: rem(15);
  padding-bottom: rem(4);
}
