@use "global" as *;
    
.blog-cards {
  padding: 0 rem(7);
  margin-bottom: rem(-3);
  @include mq("md") {
    display: flex;
    gap: rem(40);
    padding: 0;
    margin-bottom: rem(80);
  }
} 

.blog-cards a {
  display: flex;
}