@use "global" as *;

.blog {
  @include mq("md") {
    position: relative;
    padding-top: rem(100);
  }
}

.blog-margin {
  margin-bottom: rem(88);
@include mq("md") {
  position: relative;
  padding-top: rem(100);
  margin-bottom: rem(144);
}
}

.blog::after {
  @include mq("md") {
    content: '';
    position: absolute;
    top: rem(24);
    left: max(0px, 50% - min(48vw, 38.8rem));
    width: rem(437);
    height: rem(201);
    background-image: url(../images/common/blog_fish.svg);
    background-size: cover;
    background-position: center;
    z-index: 500;   
  }
}

.blog::before {
  @include mq("md") {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(500);
    background-image: url(../images/common/blogbaci_mag.webp);
    background-size: cover;
    background-position: center;
    z-index: -2;   
  }

}
.blog__title {
  @include mq("md") {
    padding-bottom: rem(52);
  }
}

.blog__cards {
  margin-bottom: rem(40);
  @include mq("md") {
    margin-bottom: rem(80);
  }
}

.blog__btn {
  text-align: center;
} 


