@use "global" as *;
    
.blog-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(40);
  padding: 0 rem(7);
  margin-bottom: rem(80);
  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin-bottom: rem(80);
  }
} 

.blog-cards a {
  display: flex;
}