@use "global" as *;
    
.contact_title {
  font-family: $en-font-family;
  color: $green;
  text-align: center;
  @include mq("md") {
    margin-bottom: rem(3);
  };
}

.contact_title__en {
  font-size: rem(80);
  line-height: 1;
  font-weight: $normal;
  margin-left: rem(-8);
  @include mq("md") {
    margin-left: 0;
    margin-bottom: rem(-5);
  };
}

.contact_title__en::first-letter {
  color: $greenaccent;
}
.contact_title__jp {
  font-size: rem(12);
  line-height: 1.5;
  color: $greenaccent;
  margin-top: rem(-5);
  font-weight: $normal;
  margin-bottom: rem(5);
  @include mq("md") {
    margin-top: rem(0);
  };
}