@use "global" as *;
    
.contact {
  // padding: rem(80) 0 rem(102);
  margin-bottom: rem(102);
  position: relative;
  @include mq("md") {
    // padding: rem(140) 0 rem(160);
    margin-bottom: rem(160);
  }
}
.contact::before {
  content: '';
    position: absolute;
    top: rem(-25);
    right: max(0px, 50% - min(48vw, 10.7rem));
    width: rem(109);
    height: rem(50);
    background-image: url(../images/common/contact_fish.svg);
    background-size: cover;
    background-position: center;
    z-index: 500;
  @include mq("md") {
    content: '';
    position: absolute;
    top: rem(-35);
    right: max(0px, 50% - min(48vw, 41.9rem));
    width: rem(301);
    height: rem(138);
    background-image: url(../images/common/contact_fish.svg);
    background-size: cover;
    background-position: center;
    z-index: 500;
  }
}

.contact__content {
  padding: 0 rem(25);
  @include mq("md") {
    display: flex;
    align-items: center;
    background: $white;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: rem(80) rem(50);
  }
}

.contact__content-address {
  margin-bottom: rem(40);
  @include mq("md") {
    border-right: 1px solid $greenaccent;
    padding-right: rem(82);
    margin-bottom: rem(0);

  }
}

.contact__content-logo {
  position: relative; /* 必要に応じて位置を制御 */
  text-align: center; /* ロゴを中央揃え */
  border-bottom: 1px solid $greenaccent; /* 下線を親要素に適用 */
  margin-bottom: rem(15);
  @include mq("md") {
    padding-bottom: rem(3);
    margin-bottom: rem(24);
  }
}
.contact__content-logo img {
  width: rem(174);
  display: inline-block; /* 中央揃えを維持するためにインラインブロック */
  @include mq("md") {
    width: rem(200);
  }
}

.contact__mapbox {
  @include mq("md") {
    display: flex;
  }

}

.contact__map-text {
  font-size: rem(16);
  line-height: 1.7;
  color: $green;
  text-align: center;
  margin-bottom: rem(16);
  white-space: nowrap;
  @include mq("md") {
    text-align: left;
    margin-bottom: 0;
    line-height: 1.7;
  }
}

.contact__gmap {
  max-width: rem(295);
  height: rem(160); 
  margin: 0 auto; 
  @include mq("md") {
    position: relative;
    max-width: rem(273);
    height: rem(148); 
    margin-left: rem(21);
  }
}
.contact__gmap iframe {
  width: 100%;
  height: 100%; 
  border: 0;
}

.contact__content-form {
  @include mq("md") {
    margin-left: rem(82);
  }
}


.contact__text {
  font-size: rem(14);
  color: $greenaccent;
  text-align: center;
  margin-bottom: rem(39);
  margin-top: rem(5);
  @include mq("md") {
    margin-bottom: rem(41);
    margin-top: rem(0);
  };
}

.contact__btn {
  display: flex;
  justify-content: center;
}