@use "global" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(13, 41, 54, 0.4);
    height: rem(80);
    @include mq("md") {
        background-color: rgba(13, 41, 54, 0.68);
        height: rem(90);
    }
}
.menu-open {
    transition: background-color 0.3s ease-in-out;
}
.header__inner.menu-open {
    background-color: $greenaccent;
    z-index: 999;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem(15);
    @include mq("md") {
        padding: 0 rem(40);
        height: 100%;
    }
}
.header__logo {
    padding: rem(20) 0;
    width: rem(102);
    z-index: 1001;
    @include mq("md") {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    width: rem(133);
    }
}

.header_drawer {
    @include mq("md") {
        display: none;
    }
}