@use "global" as *;
    
.information {
  background-color: $green2;
  padding: rem(84) 0;
  @include mq("md") {
    padding: rem(100) 0 rem(100);
  }
}

.information-margin {
  margin-bottom: rem(82);
  @include mq("md") {
    margin-bottom: rem(0);
  }
}

.information__title {
  margin-bottom: rem(27);
  @include mq("md") {
    margin-bottom: rem(40);
  }
}

.information__content {
    max-width: rem(600);
    width: 100%;
    margin: 0 auto;
  @include mq("md") {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
}


.information__img {
  margin-bottom: rem(21);
  @include mq("md") {
    width: 50%;
    margin-bottom: rem(0);
  }
}
.information__img img {
  width: 100%;              // 親要素に合わせて幅を100%に拡張
  height: auto;             // 必要に応じて高さを調整
  aspect-ratio: 345 / 227;     // アスペクト比を指定（例：16:9）
  object-fit: cover;        // 親要素に合わせてフィットし、アスペクト比を保持
}

.information__textbox {
  @include mq("md") {
    padding-left: rem(48);
    margin-top: rem(-9);
    width: 50%;
  }
}

.information__textbox-title {
  font-size: rem(20);
  font-weight: $bold;
  margin-bottom:rem(8);
  border-bottom: rem(1) solid $greenaccent;
  @include mq("md") {
    font-size: rem(24);
  }
}

.information__text {
  font-size: rem(16);
  margin-bottom: rem(40);
}

.information__btn {
  text-align: center;
}