@use "global" as *;
.main-visual {
    position: relative;
    height: 100vh;
}

.main-visual__inner {

}

.main-visual__text {
    position: absolute;
    top:50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: $white;
    z-index: 99;
}

.main-visual__title {
    font-size: rem(40);
    letter-spacing: 0.54em;
    font-family: $fb-font-family;
    font-weight: $normal;
    line-height: 1.25;
    margin-left: 21px;
    @include mq("md") {
        font-size: rem(80);
        margin-left: rem(43);
    }
}

.main-visual__subtitle {
    font-size: rem(20);
    font-family: $en-font-family;
    font-weight: $regular;
}

.main-visual img{
    height: 100vh;
    object-fit: cover;
}
