@use "global" as *;

.sp-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $greenaccent;
    display: none;
    // overflow: scroll;
    @include mq("md") {
        display: none;
    }
}

.sp-nav.open {
    display: block;
    transition: transform 0.7s ease-in-out; 
}

.sp-nav__nav {
    display: flex;
    justify-content: center;
    color: $white;
    font-size: rem(16);
    margin-left: rem(-20);
    height: 100%;
    gap: rem(7);
    margin-top: rem(101);
    overflow: scroll;
    }

.sp-nav__left {
    gap: rem(120);
}

.sp-nav__list {
    margin-bottom: rem(34);
}

.sp-nav__list li{
    margin-bottom: rem(18);
    position: relative; // 基準を設定
    padding-left: rem(22); // テキストを右にずらす
}

.sp-nav__list li:first-child::before {
content: '';
    display: block;
    position: absolute; // テキストの左側に配置
    top: 10%; // 垂直中央に配置
    left: 0; // 左端から開始
    width: rem(18); // 画像の幅
    height: rem(18); // 画像の高さ
    background-image: url('../images/common/starfish.svg'); // 画像を設定
    background-size: cover; // 画像をリサイズ
    background-repeat: no-repeat; // 繰り返しを防止
}

.sp-nav__list li:first-child {
    font-weight: $bold;
}

.sp-nav__right {
    gap: rem(120);
}