@use "global" as *;
    
.voice {
  padding: rem(88) 0 rem(82);
    @include mq("md") {
    padding: rem(143) 0;
    position: relative;
  }
}
.voice::before {
  @include mq("md") {
    content: '';
    position: absolute;
    top: rem(20);
    left: calc(50% - 43.1%);
    width: rem(301);
    height: rem(138);
    background-image: url(../images/common/voice_fish.svg);
    background-size: cover;
    background-position: center;
    z-index: 500;   
  }
}
.voice::after {
  @include mq("md") {
    content: '';
    position: absolute;
    bottom: rem(75);
    right: calc(50% - 37.53%);
    width: rem(71);
    height: rem(162);
    background-image: url(../images/common/voice_fish2.svg);
    background-size: cover;
    background-position: center;
    z-index: 500;   
  }
}

.voice__title {
  margin-bottom: rem(42);
  @include mq("md") {
    margin-bottom: rem(30);
  }
}

.voice__btn {
  display: flex;
  justify-content: center;
}
