@use "global" as *;
    
.voice-cards{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(40);
    margin-bottom: rem(40);
  }
}

.voice-cards a{
  margin-bottom: rem(39);
  @include mq("md") {
  }
}