@use "global" as *;

.voice-page {
  position: relative;

}

.voice-page__inner {

}

.inner {

}

.voice-page::before {
  content: '';
  position: absolute;
  top: rem(-120);
  left: max(0px, 50% - min(48vw, 38.7rem));
  width: rem(301);
  height: rem(138);
  background-image: url(../images/common/voice_fish.svg);
  background-size: cover;
  background-position: center;
  z-index: 500;   
@include mq("md") {
  content: '';
  position: absolute;
  top: rem(-120);
  left: max(0px, 50% - min(48vw, 38.7rem));
  width: rem(301);
  height: rem(138);
  background-image: url(../images/common/voice_fish.svg);
  background-size: cover;
  background-position: center;
  z-index: 500;   
}
}

.voice-page__tab_btn {
  display: grid;
  grid-template-columns: repeat(2, rem(162));
  gap: rem(21) rem(16);
  margin-bottom: rem(40);
  @include mq("md") {
    grid-template-columns: repeat(4, rem(162));
    gap: rem(32);
  }
}

  input {
    display: none;
  }

  .voice-page__tab_menu {
    padding: rem(6) 0;
    border: solid 1px $greenaccent;
    text-align: center;
    font-size: rem(14);
    font-weight: $regular;
    color: $greenaccent;
    background-color: $white;
    display: block;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.75;
    }
  }

  .voice-page__tab_btn input {
    display: none;
  }
  
  .voice-page__tab_menu {
    // 通常状態
    padding: rem(6) 0;
    border: 1px solid $greenaccent;
    background-color: $white;
    color: $greenaccent;
    text-align: center;
    display: block;
    transition: 0.2s;
  
    &:hover {
      opacity: 0.75;
    }
  }
  
  /* チェックされてる input に対応する label の色変更 */
  input#menu01:checked ~ .voice-page__tab_btn label[for="menu01"],
  input#menu02:checked ~ .voice-page__tab_btn label[for="menu02"],
  input#menu03:checked ~ .voice-page__tab_btn label[for="menu03"],
  input#menu04:checked ~ .voice-page__tab_btn label[for="menu04"] {
    background-color: $greenaccent;
    color: #fff;
  }

// 各タブの内容を表示する条件（id名を "contentXX" にしているので注意）
.voice-page__tab_contents {
  display: none;
}

#menu01:checked ~ #content01,
#menu02:checked ~ #content02,
#menu03:checked ~ #content03,
#menu04:checked ~ #content04 {
  display: block;
}

.voice-page__cards {
  margin-bottom: rem(80);
  @include mq("md") {
    margin-bottom: rem(72);
    margin-bottom: rem(72);
  }
}

.voice-page__pagination {
  margin-bottom: rem(40);
  display: flex;
  justify-content: center;
  @include mq("md") {
    margin-bottom: rem(80);
  }
}