@use "global" as *;
    
.voice-card {
  background-color: $white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 0 auto;
  @include mq("md") {
    margin-bottom: rem(0);
    transition: all 0.3s ease 0s;
  }
}

.voice-card:hover {
  @include mq("md") {
    transform: translateY(-0.5em);
  }
}

.voice-card__content {
  padding: rem(16) rem(16) rem(24);
  @include mq("md") {
    padding: rem(24);
  }
}

.voice-card__taitle_img {
  display: flex;
  justify-content: space-between;
}
.voice-card__taitle_img_box {
  display: flex;
  margin-bottom: rem(15);
  align-items: flex-end;
  gap:rem(16);
  width: 100%;
  @include mq("md") {
    margin-bottom: rem(40);
  }
}
.voice-card__taitle_data {
  display: flex;
  flex-direction: column;
  width: 50%;
  @include mq("md") {
    width: 100%;
  }
}

.voice-card__deta {
  margin-bottom: rem(4);
  @include mq("md") {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.voice-card__deta--age {
  font-size: rem(12);
  line-height: 1.5;
}

.voice-card__deta--tag {
  font-size: rem(12);
  line-height: 1.833333333333333;
  color: $greenaccent;
  border: 1px solid $greenaccent;
  padding: rem(4) rem(12);
  display: inline-block;
  @include mq("md") {
    padding: rem(6) rem(16);
    line-height: 1.833333333333333;
  }
}

.voice-card__title {
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.4;
  border-bottom: 1px solid $greenaccent;
  width: 100%;
  padding-bottom: rem(4);
  @include mq("md") {
    font-size: rem(24);
    line-height: 1.5;
  }
}

.voice-card__img {
  width: 50%;
  @include mq("md") {
    max-width: rem(180);
    width: 100%;
  }
}

.voice-card__img img{
  aspect-ratio: 180 / 140;
  height: auto;
  object-fit: cover;
  width: 100%;
  @include mq("md") {
    width: 100%;
  }
}

.voice-card__text {
  line-height: 1.5;
}